<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Diet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<h1>Diet</h1>

<ion-card>
  <ion-card-header>
    <ion-card-title>Monday</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle>Breakfast</ion-card-subtitle>
  <div>  1 grapefruit </div>
  <div>  2 poached eggs </div>
  <div> 1 cup low-fat milk </div>
  </ion-card-content>

  <ion-card-content>
    <ion-card-subtitle>Lunch</ion-card-subtitle>
  <div>  6 oz chicken breast </div>
  <div>  garden salad, tomatos, onions, optional tablespoon of oil and vinegar </div>
  <div> Water </div>
  </ion-card-content>

  <ion-card-content>
    <ion-card-subtitle>Dinner</ion-card-subtitle>
  <div>  1 cup steamed brocolli </div>
  <div>  1 cup brown rice </div>
  <div> 4 oz halibut</div>
  <div> small garden salad </div>
  <div> water with lemon slice </div>
  </ion-card-content>

</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>Tuesday</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle>Breakfast</ion-card-subtitle>
  <div>  1 whole wheat english muffin, 2 tablespoons of peanut butter</div>
  <div>  1 orange </div>
  <div> Large glass (12 ounces) non-fat milk </div>
  <div>One cup of black coffee or herbal tea</div>
  </ion-card-content>

  <ion-card-content>
    <ion-card-subtitle>Lunch</ion-card-subtitle>
  <div>  A turkey sandwich (six ounces of turkey breast meat, large tomato slice, green lettuce and mustard on two slices of whole wheat bread) </div>
  <div>  One cup low-sodium vegetable soup </div>
  <div> Water </div>
  </ion-card-content>

  <ion-card-content>
    <ion-card-subtitle>Dinner</ion-card-subtitle>
  <div>  Five-ounce sirloin steak </div>
  <div>  One cup mashed potatoes </div>
  <div> One cup cooked spinach</div>
  <div> One cup green beans </div>
  <div> water with lemon slice </div>
  </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Wednesday</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle>Breakfast</ion-card-subtitle>
  <div>  One medium bran muffin </div>
  <div>  One serving turkey breakfast sausage</div>
  <div> One orange </div>
  <div>One cup non-fat milk </div>
  <div> One cup black coffee or herbal tea</div>
  </ion-card-content>

  <ion-card-content>
    <ion-card-subtitle>Lunch</ion-card-subtitle>
  <div>  Low sodium chicken noodle soup with six saltine crackers </div>
  <div>  One medium apple </div>
  <div> Water </div>
  </ion-card-content>

  <ion-card-content>
    <ion-card-subtitle>Dinner</ion-card-subtitle>
  <div>  8-ounce serving of turkey breast meat</div>
  <div> One cup baked beans</div>
  <div> One cup cooked carrots</div>
  <div> One cup cooked kale </div>
  <div> One glass of wine </div>
  </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Thursday</ion-card-title>
    </ion-card-header>


    <ion-card-content>
      <ion-card-subtitle>Breakfast</ion-card-subtitle>
    <div>  One cup whole wheat flakes with one cup non-fat milk and one teaspoon sugar </div>
    <div>  One banana </div>
    <div> One slice whole-grain toast with one tablespoon peanut butter </div>
    <div> One cup of black coffee or herbal tea</div>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Lunch</ion-card-subtitle>
    <div>  Tuna wrap with one wheat flour tortilla, one tablespoon mayonnaise, lettuce, and sliced tomato </div>
    <div>  One sliced avocado</div>
    <div> One cup non-fat milk</div>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Dinner</ion-card-subtitle>
    <div>  One serving lasagna </div>
    <div>  Small garden salad with tomatoes and onions topped with one tablespoon salad dressing </div>
    <div> One cup non-fat milk</div>
    </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-title>Friday</ion-card-title>
      </ion-card-header>


      <ion-card-content>
        <ion-card-subtitle>Breakfast</ion-card-subtitle>
      <div>  One piece French toast with one tablespoon maple syrup </div>
      <div>  One scrambled or poached egg </div>
      <div> One serving turkey bacon</div>
      <div> One cup orange juice</div>
      <div>One cup black coffee or herbal tea </div>

      </ion-card-content>

      <ion-card-content>
        <ion-card-subtitle>Lunch</ion-card-subtitle>
        <div>  Veggie burger on a whole grain bun</div>
        <div>  One cup northern (or other dry) beans </div>
        <div> One cup non-fat milk</div>
      </ion-card-content>

      <ion-card-content>
        <ion-card-subtitle>Dinner</ion-card-subtitle>
      <div> One trout filet</div>
      <div>  One cup green beans </div>
      <div> One cup brown rice</div>
      <div> One small garden salad with two tablespoons salad dressing</div>
      <div>One glass of beer </div>
      <div>Sparkling water with lemon or lime slice </div>

      </ion-card-content>

      </ion-card>




</ion-content>
