<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Tuesday April 18, 2020</h1>
  <h5 class="quote">
    “The resistance that you fight physically in the gym and the resistance that
    you fight in life can only build a strong character.” – Arnold
    Schwarzenegger
  </h5>
  <h5>Congradulations! You have a 10 day streak!</h5>
  <h2>Today's Meals</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tuesday</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>Breakfast</ion-card-subtitle>
      <div>1 whole wheat english muffin, 2 tablespoons of peanut butter</div>
      <div>1 orange</div>
      <div>Large glass (12 ounces) non-fat milk</div>
      <div>One cup of black coffee or herbal tea</div>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Lunch</ion-card-subtitle>
      <div>
        A turkey sandwich (six ounces of turkey breast meat, large tomato slice,
        green lettuce and mustard on two slices of whole wheat bread)
      </div>
      <div>One cup low-sodium vegetable soup</div>
      <div>Water</div>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Dinner</ion-card-subtitle>
      <div>Five-ounce sirloin steak</div>
      <div>One cup mashed potatoes</div>
      <div>One cup cooked spinach</div>
      <div>One cup green beans</div>
      <div>water with lemon slice</div>
    </ion-card-content>
  </ion-card>
  <h2>Today's Workout</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tuesday: Arms</ion-card-title>
      <ion-card-subtitle>Expected Total Time: 40 minutes</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Up and Down Plank</ion-card-subtitle>
      <div>Sets: 3</div>
      <div>Reps: 15</div>
      <div>Rest: 90</div>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Hammer Curls</ion-card-subtitle>
      <div>Sets: 3</div>
      <div>Reps: 20</div>
      <div>Rest: 45</div>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Bicep Curls</ion-card-subtitle>
      <div>Sets: 3</div>
      <div>Reps: 10</div>
      <div>Rest: 30</div>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Lying Tricep Extension</ion-card-subtitle>
      <div>Sets: 3</div>
      <div>Reps: 10</div>
      <div>Rest: 75</div>
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>Tricep Dips</ion-card-subtitle>
      <div>Sets: 4</div>
      <div>Reps: 10</div>
      <div>Rest: 60</div>
    </ion-card-content>
  </ion-card>
</ion-content>
