<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <form [formGroup]="registrationForm" (ngSubmit)="submit()">
          <div text-center>
            <h3>Register Now!</h3>
          </div>
          <ion-list>
            <ion-item>
              <ion-input
                autocapitalize
                inputmode="text"
                formControlName="name"
                placeholder="Name"
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.name">
              <ng-container
                *ngIf="name.hasError(error.type) && (name.dirty || name.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            <ion-item>
              <ion-input
                inputmode="email"
                formControlName="email"
                placeholder="your@mail.com"
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.email">
              <ng-container
                *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            <ion-item>
              <ion-input
                formControlName="password"
                placeholder="Password"
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.password">
              <ng-container
                *ngIf="password.hasError(error.type) && (password.dirty || password.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
          </ion-list>
          <ion-list formGroupName="personal">
            <ion-list-header>Personal Information</ion-list-header>
            <ion-item>
              <ion-input
                formControlName="gender"
                placeholder="Male/Female/Other"
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.gender">
              <ng-container
                *ngIf="gender.hasError(error.type) && (gender.dirty || gender.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            <ion-item>
              <ion-input formControlName="age" placeholder="Age"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.age">
              <ng-container
                *ngIf="age.hasError(error.type) && (age.dirty || age.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            <ion-item>
              <ion-input
                formControlName="weight"
                placeholder="Weight (lb)"
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.weight">
              <ng-container
                *ngIf="weight.hasError(error.type) && (weight.dirty || weight.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            <ion-item>
              <ion-input
                formControlName="height"
                placeholder="Height (in)"
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.height">
              <ng-container
                *ngIf="height.hasError(error.type) && (height.dirty || height.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
          </ion-list>
          <ion-button
            [disabled]="!registrationForm.valid"
            type="submit"
            expand="block"
            (click)="goToHome()"
            >Register
          </ion-button>
          <ion-button (click)="goToLogin()" expand="block">Back </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <form [formGroup]="registrationForm" (ngSubmit)="submit()">
  <div text-center>
    <h3>Register Now!</h3>
  </div>
  <ion-list>
    <ion-item>
      <ion-input
        autocapitalize
        inputmode="text"
        formControlName="name"
        placeholder="Name"
      ></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.name">
      <ng-container
        *ngIf="name.hasError(error.type) && (name.dirty || name.touched)"
      >
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-input
        inputmode="email"
        formControlName="email"
        placeholder="your@mail.com"
      ></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.email">
      <ng-container
        *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
      >
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-input formControlName="password" placeholder="Password"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.password">
      <ng-container
        *ngIf="password.hasError(error.type) && (password.dirty || password.touched)"
      >
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
  </ion-list>
  <ion-list formGroupName="personal">
    <ion-list-header>Personal Information</ion-list-header>
    <ion-item>
      <ion-input
        formControlName="gender"
        placeholder="Male/Female/Other"
      ></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.gender">
      <ng-container
        *ngIf="gender.hasError(error.type) && (gender.dirty || gender.touched)"
      >
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-input formControlName="age" placeholder="Age"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.age">
      <ng-container
        *ngIf="age.hasError(error.type) && (age.dirty || age.touched)"
      >
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-input formControlName="weight" placeholder="Weight (lb)"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.weight">
      <ng-container
        *ngIf="weight.hasError(error.type) && (weight.dirty || weight.touched)"
      >
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-input formControlName="height" placeholder="Height (in)"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.height">
      <ng-container
        *ngIf="height.hasError(error.type) && (height.dirty || height.touched)"
      >
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
  </ion-list>
  <ion-button
    [disabled]="!registrationForm.valid"
    type="submit"
    expand="block"
    (click)="goToHome()"
    >Register
  </ion-button>
  <ion-button (click)="goToLogin()" expand="block">Back </ion-button>
</form> -->

<!-- <form [formGroup]="registrationForm" (ngSubmit)="submit()">
  <ion-grid class="ion-justify-content-center">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>Register Now!</h3>
        </div>
        <div padding>
          <ion-item>
            <ion-input
              name="name"
              type="text"
              placeholder="Name"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="email"
              type="email"
              placeholder="your@email.com"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="password"
              type="password"
              placeholder="Password"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="confirm"
              type="password"
              placeholder="Password again"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="gender"
              type="gender"
              placeholder="Gender"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="age"
              type="age"
              placeholder="Age"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="weight"
              type="weight"
              placeholder="Weight (lb)"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="height"
              type="height"
              placeholder="Height (in)"
              ngModel
              required
            ></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button expand="block" (click)="goToHome()">Register</ion-button>
          <ion-button expand="block" (click)="goToLogin()">Cancel</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form> -->
